<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.IDao.ReviewMapper" >
  <resultMap id="BaseResultMap" type="test.domain.Review" >
    <result column="ad_id" property="adId" jdbcType="BIGINT" />
    <result column="ad_type" property="adType" jdbcType="TINYINT" />
    <result column="push_id" property="pushId" jdbcType="INTEGER" />
    <result column="push_title" property="pushTitle" jdbcType="VARCHAR" />
    <result column="review_count" property="reviewCount" jdbcType="INTEGER" />
    <result column="review_id" property="reviewId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="to_review_id" property="toReviewId" jdbcType="INTEGER" />
    <result column="to_user_id" property="toUserId" jdbcType="INTEGER" />
    <result column="crtime" property="crtime" jdbcType="TIMESTAMP" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
    <result column="display_order" property="displayOrder" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="test.domain.Review" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <insert id="insert" parameterType="test.domain.Review" >
    insert into advertise_review_list_v (ad_id, ad_type, push_id, 
      push_title, review_count, review_id, 
      user_id, to_review_id, to_user_id, 
      crtime, mtime, is_del, 
      display_order, content)
    values (#{adId,jdbcType=BIGINT}, #{adType,jdbcType=TINYINT}, #{pushId,jdbcType=INTEGER}, 
      #{pushTitle,jdbcType=VARCHAR}, #{reviewCount,jdbcType=INTEGER}, #{reviewId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{toReviewId,jdbcType=INTEGER}, #{toUserId,jdbcType=INTEGER}, 
      #{crtime,jdbcType=TIMESTAMP}, #{mtime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=BIT}, 
      #{displayOrder,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="test.domain.Review" >
    insert into advertise_review_list_v
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adId != null" >
        ad_id,
      </if>
      <if test="adType != null" >
        ad_type,
      </if>
      <if test="pushId != null" >
        push_id,
      </if>
      <if test="pushTitle != null" >
        push_title,
      </if>
      <if test="reviewCount != null" >
        review_count,
      </if>
      <if test="reviewId != null" >
        review_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="toReviewId != null" >
        to_review_id,
      </if>
      <if test="toUserId != null" >
        to_user_id,
      </if>
      <if test="crtime != null" >
        crtime,
      </if>
      <if test="mtime != null" >
        mtime,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="displayOrder != null" >
        display_order,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adId != null" >
        #{adId,jdbcType=BIGINT},
      </if>
      <if test="adType != null" >
        #{adType,jdbcType=TINYINT},
      </if>
      <if test="pushId != null" >
        #{pushId,jdbcType=INTEGER},
      </if>
      <if test="pushTitle != null" >
        #{pushTitle,jdbcType=VARCHAR},
      </if>
      <if test="reviewCount != null" >
        #{reviewCount,jdbcType=INTEGER},
      </if>
      <if test="reviewId != null" >
        #{reviewId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="toReviewId != null" >
        #{toReviewId,jdbcType=INTEGER},
      </if>
      <if test="toUserId != null" >
        #{toUserId,jdbcType=INTEGER},
      </if>
      <if test="crtime != null" >
        #{crtime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null" >
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIT},
      </if>
      <if test="displayOrder != null" >
        #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>