<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.IDao.RoleMapper" >
  <resultMap id="BaseResultMap" type="test.domain.Role" >
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="crtime" property="crtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="test.domain.Role" >
    insert into role_list_v (role_id, role_name, remark, 
      crtime)
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{crtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="test.domain.Role" >
    insert into role_list_v
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="crtime != null" >
        crtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="crtime != null" >
        #{crtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>