<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.IDao.StatisticMapper" >
  <resultMap id="BaseResultMap" type="test.domain.Statistic" >
    <result column="advertise_num" property="advertiseNum" jdbcType="BIGINT" />
    <result column="user_num" property="userNum" jdbcType="BIGINT" />
    <result column="product_num" property="productNum" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="test.domain.Statistic" >
    insert into statistic_list_v (advertise_num, user_num, product_num
      )
    values (#{advertiseNum,jdbcType=BIGINT}, #{userNum,jdbcType=BIGINT}, #{productNum,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="test.domain.Statistic" >
    insert into statistic_list_v
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="advertiseNum != null" >
        advertise_num,
      </if>
      <if test="userNum != null" >
        user_num,
      </if>
      <if test="productNum != null" >
        product_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="advertiseNum != null" >
        #{advertiseNum,jdbcType=BIGINT},
      </if>
      <if test="userNum != null" >
        #{userNum,jdbcType=BIGINT},
      </if>
      <if test="productNum != null" >
        #{productNum,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>